@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.particle {
  position: absolute;
  font-size: 23rem;
  border: 0px solid;
  border-radius: 100%;
  z-index: 0;
  color: white;
  filter: blur(10px);
  text-shadow:
    0 0 10px #fef3c6,
    0 0 20px #fef3c6,
    0 0 40px #fef3c6,
    0 0 80px #fef3c6;
}
@keyframes slideDown {
  0% {
    transform: translateY(-100vh);
    opacity: 0;
  }
  100% {
    transform: translateY(100vh);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.4s ease-in-out forwards;
}
